[{prospero, [
    {startup, [
        {join_timeout_millis, 10000},
        {bootstrap, standalone}
        %{bootstrap, 'prospero@ryanb-linux.eclg.org'}
        %{bootstrap, ['prospero@ryanb-linux.eclg.org','prospero@prospero.ecollege-labs.com']}
      ]},
    {audit, [
        {log_path, "/tmp/prospero.audit.log"},
        {include_payload, true}
      ]},
    {delivery, [
        {number_of_workers, 1000},
        {max_failed_attempts, 10},
        {callback_timeout, 10000},
        {num_consumers_per_subscription, 1},
        {ibrowse_max_sessions, 10},
        {ibrowse_max_pipeline_size, 1000},
        {rampdown_multiplier, 1.05},
        {rampdown_interval_seconds, 2},
        {rampdown_wait_milliseconds, 500}
      ]},
    {amqp, [
		{reconnect_wait_millis, 2000},
		{consumer_prefetch_count, 3},
		{confirmed_publishing, false},
		{brokers, [
			{"one", [
				{exchange, "prospero"},
				{host, "localhost"},
				{port, 5672},
				{virtual_host, "/"},
				{username, "guest"},
				{password, "guest"},
				{heartbeat_milliseconds, 10}
				]			
			}
		]}
	]},
    {rest, [
        {port, 4778},
        {enable_test_services, true},
        {secure_error_messages, false},
        {status, serverin}
      ]},
	{admin, [
		%
		% port the admin functionality listens on
		%
		{port, 4779},

		% 
		% PEM file used to validate signatures
		%
		{public_key, "misc/public.pem"},

		%
		% number of milliseconds that a token is good for
		%
		{token_threshold, 3600000}
	]},
    {auth, [
        {token_date_threshold_milliseconds, 3600000}
      ]},
    {stats, [
        {host, {127, 0, 0, 1}},
        {port, 8125}
      ]}
  ]}
].
